{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form" name="confirmation" placeholder="Confirmation password" type="password">
        </div>
        {%if error%}
        <p class="error-message" class="btn">{{error}}</p>
        {% endif %}
        <button class="btn form" type="submit">Register</button>
    </form>
{% endblock %}
